# COGS 108 - Data Checkpoint

# Names

- Fione Huynh
- Lara Pellon
- Khulan Hoshartsaga
- Rafael Ubriaco
- Ezhil Thaenraj

<a id='research_question'></a>
# Research Question

How has COVID-19 impacted affluent counties air quality in comparison to less affluent ones?

# Dataset(s)

*Fill in your dataset information here*

(Copy this information for each dataset)
- Dataset Name:
- Link to the dataset:
- Number of observations:

1-2 sentences describing each dataset. 

If you plan to use multiple datasets, add 1-2 sentences about how you plan to combine these datasets.

Dataset Name: Real Gross Domestic Product by County, 2016-2019
Link to the dataset: https://www.bea.gov/data/gdp/gdp-county-metro-and-other-areas 
Number of observations: 3221 (before data cleaning)

Columns in the dataset for each observation:
- Name of the county/state
- Real gross domestic product: Thousands of chained (2012) dolloars for years 2016 to 2019
- Real gross domestic product: Rank in state for 2019
- Percent change from preceding period: percent change for 2017-2019
- Percent change from preceding period: rank in state

Description: This dataset is from the Bureau of Economic Analysis site from the U.S. Department of Commerce. It contains the gross domestic product (GDP) for all of the counties and states in the United States from 2016 to 2019. It also includeds information about each counties' rankings in their state and the percent change during those years.

# Setup

In [ ]:
import pandas as pd

gdp_data = pd.read_excel('lagdp1220.xlsx')

# Data Cleaning

Since we are only interested in the counties, we are going to drop rows include information on the country and the states.  We are also going to be dropping any rows with null data in them.

In [ ]:
gdp_data = gdp_data.dropna(how='any')
gdp_data = gdp_data.reset_index(drop=True)
gdp_data = gdp_data[gdp_data['Unnamed: 5'] != '--']
gdp_data = gdp_data.reset_index(drop=True)
gdp_data.head()

,"Table 1. Real Gross Domestic Product by County, 2016â€“2019",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,Autauga,1581893,1494278.0,1537059.0,1501769.0,24,-5.5,2.9,-2.3,61
1,Baldwin,5625966,5754579.0,6006401.0,6140514.0,7,2.3,4.4,2.2,28
2,Barbour,739860,743441.0,771536.0,762856.0,40,0.5,3.8,-1.1,58
3,Bibb,355874,355890.0,363268.0,389547.0,58,0,2.1,7.2,2
4,Blount,829566,876376.0,896074.0,869049.0,35,5.6,2.2,-3.0,62

Next, since GDP would not change drastically in a few years, we only wanted the GDP for the year 2019 since it its the most recent. Thus, we dropped the columns for 2016, 2017, and 2018. We are also comparing the changes in GDP since we are focused on the changes in air quality. So we are dropping the columns regarding the percent change as well.

In [ ]:
gdp_data = gdp_data.drop(columns=['Unnamed: 1', 'Unnamed: 2','Unnamed: 3','Unnamed: 5', 'Unnamed: 6','Unnamed: 7','Unnamed: 8','Unnamed: 9'])
gdp_data.head()

  Table 1. Real Gross Domestic Product by County, 2016â€“2019  Unnamed: 4
0                                            Autauga          1501769.0
1                                            Baldwin          6140514.0
2                                            Barbour           762856.0
3                                               Bibb           389547.0
4                                             Blount           869049.0

Then we change the column names so that they are more descriptive and intuitive.

In [ ]:
gdp_data.columns = ['County','2019 Real GDP']
gdp_data.head()

    County  2019 Real GDP
0  Autauga      1501769.0
1  Baldwin      6140514.0
2  Barbour       762856.0
3     Bibb       389547.0
4   Blount       869049.0

**Data** 

We pulled the data from the EPA website for the Dail AQI values for all the couties across America for the years of 2018, 2019, and 2020. Each of these datasets came seperately so the first task was to concatenate them together

In [ ]:
import pandas as pd 
AQI_2018_path = "/content/drive/MyDrive/Colab Notebooks/COGS108/daily_aqi_by_county_2018.csv"
AQI_2019_path = "/content/drive/MyDrive/Colab Notebooks/COGS108/daily_aqi_by_county_2019.csv"
AQI_2020_path = "/content/drive/MyDrive/Colab Notebooks/COGS108/daily_aqi_by_county_2020.csv"


df_19 = pd.read_csv(AQI_2019_path)
df_20 = pd.read_csv(AQI_2020_path)
df_18 = pd.read_csv(AQI_2018_path)

df_18.head()

  State Name county Name  ...  Defining Site  Number of Sites Reporting
0    Alabama     Baldwin  ...    01-003-0010                          1
1    Alabama     Baldwin  ...    01-003-0010                          1
2    Alabama     Baldwin  ...    01-003-0010                          1
3    Alabama     Baldwin  ...    01-003-0010                          1
4    Alabama     Baldwin  ...    01-003-0010                          1

[5 rows x 10 columns]

In [ ]:
df_19.head()

  State Name county Name  ...  Defining Site  Number of Sites Reporting
0    Alabama     Baldwin  ...    01-003-0010                          1
1    Alabama     Baldwin  ...    01-003-0010                          1
2    Alabama     Baldwin  ...    01-003-0010                          1
3    Alabama     Baldwin  ...    01-003-0010                          1
4    Alabama     Baldwin  ...    01-003-0010                          1

[5 rows x 10 columns]

In [ ]:
df_20.head()

  State Name county Name  ...  Defining Site  Number of Sites Reporting
0    Alabama     Baldwin  ...    01-003-0010                          1
1    Alabama     Baldwin  ...    01-003-0010                          1
2    Alabama     Baldwin  ...    01-003-0010                          1
3    Alabama     Baldwin  ...    01-003-0010                          1
4    Alabama     Baldwin  ...    01-003-0010                          1

[5 rows x 10 columns]

**Step 2**

The next course of action would be to convert the date column of the new df into a dattime type to allow for easier queries.

In [ ]:
from google.colab import files
# concatenating 3 years data & dropping null records
frames = [df_18,df_19,df_20]
df = pd.concat(frames).dropna()

#converting Date col to date_time type
df['Date'] = pd.to_datetime(df['Date'])
df.head()
#

  State Name county Name  ...  Defining Site  Number of Sites Reporting
0    Alabama     Baldwin  ...    01-003-0010                          1
1    Alabama     Baldwin  ...    01-003-0010                          1
2    Alabama     Baldwin  ...    01-003-0010                          1
3    Alabama     Baldwin  ...    01-003-0010                          1
4    Alabama     Baldwin  ...    01-003-0010                          1

[5 rows x 10 columns]

**Step 3**

The next step would be to drop any unwanted columns from the dataset. here we found that the columns for Defining_site, State Code, and County Code were irrelevant to the scope of our project since the location of the record can easily be accessed through the state and county name columns and the defining site at which the the AQI is recorded is not pertinent to the actual AQI since this value is not easily parsable

In [ ]:
#Dropping unwanted columns
df = df.drop(df[['Defining Site', 'State Code','County Code']], axis = 1)
df.head()

  State Name county Name  ... Defining Parameter  Number of Sites Reporting
0    Alabama     Baldwin  ...              PM2.5                          1
1    Alabama     Baldwin  ...              PM2.5                          1
2    Alabama     Baldwin  ...              PM2.5                          1
3    Alabama     Baldwin  ...              PM2.5                          1
4    Alabama     Baldwin  ...              PM2.5                          1

[5 rows x 7 columns]

In [ ]:
df.to_csv("AQI.csv")
files.download("AQI.csv")

**Data** 

We pulled the data from the EPA website for the Dail AQI values for all the couties across America for the years of 2018, 2019, and 2020. Each of these datasets came seperately so the first task was to concatenate them together

In [ ]:
import pandas as pd 
AQI_2018_path = "/content/drive/MyDrive/Colab Notebooks/COGS108/daily_aqi_by_county_2018.csv"
AQI_2019_path = "/content/drive/MyDrive/Colab Notebooks/COGS108/daily_aqi_by_county_2019.csv"
AQI_2020_path = "/content/drive/MyDrive/Colab Notebooks/COGS108/daily_aqi_by_county_2020.csv"


df_19 = pd.read_csv(AQI_2019_path)
df_20 = pd.read_csv(AQI_2020_path)
df_18 = pd.read_csv(AQI_2018_path)

df_18.head()

  State Name county Name  ...  Defining Site  Number of Sites Reporting
0    Alabama     Baldwin  ...    01-003-0010                          1
1    Alabama     Baldwin  ...    01-003-0010                          1
2    Alabama     Baldwin  ...    01-003-0010                          1
3    Alabama     Baldwin  ...    01-003-0010                          1
4    Alabama     Baldwin  ...    01-003-0010                          1

[5 rows x 10 columns]

In [ ]:
df_19.head()

  State Name county Name  ...  Defining Site  Number of Sites Reporting
0    Alabama     Baldwin  ...    01-003-0010                          1
1    Alabama     Baldwin  ...    01-003-0010                          1
2    Alabama     Baldwin  ...    01-003-0010                          1
3    Alabama     Baldwin  ...    01-003-0010                          1
4    Alabama     Baldwin  ...    01-003-0010                          1

[5 rows x 10 columns]

In [ ]:
df_20.head()

  State Name county Name  ...  Defining Site  Number of Sites Reporting
0    Alabama     Baldwin  ...    01-003-0010                          1
1    Alabama     Baldwin  ...    01-003-0010                          1
2    Alabama     Baldwin  ...    01-003-0010                          1
3    Alabama     Baldwin  ...    01-003-0010                          1
4    Alabama     Baldwin  ...    01-003-0010                          1

[5 rows x 10 columns]

**Step 2**

The next course of action would be to convert the date column of the new df into a dattime type to allow for easier queries.

In [ ]:
from google.colab import files
# concatenating 3 years data & dropping null records
frames = [df_18,df_19,df_20]
df = pd.concat(frames).dropna()

#converting Date col to date_time type
df['Date'] = pd.to_datetime(df['Date'])
df.head()
#

  State Name county Name  ...  Defining Site  Number of Sites Reporting
0    Alabama     Baldwin  ...    01-003-0010                          1
1    Alabama     Baldwin  ...    01-003-0010                          1
2    Alabama     Baldwin  ...    01-003-0010                          1
3    Alabama     Baldwin  ...    01-003-0010                          1
4    Alabama     Baldwin  ...    01-003-0010                          1

[5 rows x 10 columns]

**Step 3**

The next step would be to drop any unwanted columns from the dataset. here we found that the columns for Defining_site, State Code, and County Code were irrelevant to the scope of our project since the location of the record can easily be accessed through the state and county name columns and the defining site at which the the AQI is recorded is not pertinent to the actual AQI since this value is not easily parsable

In [ ]:
#Dropping unwanted columns
df = df.drop(df[['Defining Site', 'State Code','County Code']], axis = 1)
df.head()

  State Name county Name  ... Defining Parameter  Number of Sites Reporting
0    Alabama     Baldwin  ...              PM2.5                          1
1    Alabama     Baldwin  ...              PM2.5                          1
2    Alabama     Baldwin  ...              PM2.5                          1
3    Alabama     Baldwin  ...              PM2.5                          1
4    Alabama     Baldwin  ...              PM2.5                          1

[5 rows x 7 columns]

In [ ]:
df.to_csv("AQI.csv")
files.download("AQI.csv")